{
  "parser": "babel-eslint",
  "plugins": ["prettier", "jest"],
  "rules": {
    "prettier/prettier": ["error", { "singleQuote": true }],
    "no-console": ["off"],
    "quotes": ["off"],
    "prefer-destructuring": ["off"],
    "no-underscore-dangle": ["off"],
    "import/first": ["off"],
    "import/no-unresolved": ["off"],
    "radix": ["off"],
    "no-plusplus": ["off"],
    "import/extensions": ["off"],
    "no-restricted-syntax": ["off"],
    "jsx-a11y/label-has-associated-control": [ "error", {
      "required": {
        "some": [ "nesting", "id"  ]
      }
    }],
    "jsx-a11y/label-has-for": [ "error", {
      "required": {
        "some": [ "nesting", "id"  ]
      }
    }],
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error"
  },
  "extends": ["eslint:recommended", "plugin:prettier/recommended", "plugin:jest/recommended"],
  "env": {
    "browser": true,
    "amd": true,
    "node": true
  }
}
